<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.wiki.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.john.wiki.entity.Test">
        <!--@mbg.generated-->
        <!--@Table test-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="password" jdbcType="CHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `password`
    </sql>

    <select id="selectAllTest" resultType="com.john.wiki.entity.Test">
        select
        <include refid="Base_Column_List"/>
        from test
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from test
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from test
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.john.wiki.entity.Test"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test (`name`, `password`)
        values (#{name,jdbcType=CHAR}, #{password,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.john.wiki.entity.Test"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=CHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.john.wiki.entity.Test">
        <!--@mbg.generated-->
        update test
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=CHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.john.wiki.entity.Test">
        <!--@mbg.generated-->
        update test
        set `name`     = #{name,jdbcType=CHAR},
            `password` = #{password,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>